{% extends "base.html" %}

{% load i18n %}

{% block title %}Register{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
  <div class="hero-image-customer container-fluid">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <div class="page-heading">
            <h1>Join us in paradise ...</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<br>
<div class="container sign-up">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2>{% trans "Register" %}</h2>

      <p>{% blocktrans %}Welcome back to St George Resort. Do you already have an account? Then please <a class="link"
          href="{{ login_url }}"> sign in</a> instead.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="submit-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
<br>

{% endblock %}