{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image-404 container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <h2>Page not found!</h2>
                        <h3>Sorry the page you were looking for doesn't exist.</h3>
                        <h3>Find your way back:</h3>
                        <br>
                        <a class="book-your-trip-btn" href="{% url 'index' %}">Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}