{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image-404 container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <h2>Oops!</h2>
                        <h3>Somethings not quite right here ...</h3>
                        <h3>Please come back later.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}