{% extends "base.html" %}

{% block title %}Book Now{% endblock %}

{% block content %}
{% load crispy_forms_tags %}


<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image-booking container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <h3>Book Online</h3>
                        <h6>A place to stay.<br>Just a few steps away ...</h6>
                        <!-- Django messages -->
                        <div class="container message">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg"
                                        role="alert">
                                        {{ message | safe }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Cards recapping the four different room options available -->
<section class="container col-lg-8 mb-11 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Book Now</h4>
            <h1>Reservations at St. George Resort</h1>
        </div>
    </div>
</section>
<section class="room-list grey-background">
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3 mx-auto" style="max-width: 90%;">
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540065/St%20George%20Resort/poolview_mhpvui.png"
                    class="card-img-top" alt="Poolside View Room">
                <div class="card-body">
                    <h4 class="card-title">Poolside View</h4>
                    <p class="card-text">Twin/ Double<br />
                        2 Adults<br />
                        Breakfast not included</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540065/St%20George%20Resort/garden-view_oso2o6.png"
                    class="card-img-top" alt="Garden view room">
                <div class="card-body">
                    <h4 class="card-title">Garden View</h4>
                    <p class="card-text">King size<br />
                        2 Adults<br />
                        Breakfast not included</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540065/St%20George%20Resort/oceanview_f214td.png"
                    class="card-img-top" alt="Ocean view room">
                <div class="card-body">
                    <h4 class="card-title">Ocean View</h4>
                    <p class="card-text">Queen size + Single<br />
                        2 Adults + 1 Child (2-12)<br />
                        Breakfast included</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540087/St%20George%20Resort/superiorocean_avd5kd.png"
                    class="card-img-top" alt="Superior ocean suite">
                <div class="card-body">
                    <h4 class="card-title">Superior Ocean Suite</h4>
                    <p class="card-text">Queen size + Double<br />
                        2 Adults + 2 Children (0-12)<br />
                        Breakfast included</p>
                </div>
            </div>
        </div>
        <div class="container how-to">
            <ul>
                <li>
                    <p>1. Choose your room preference.</p>
                </li>
                <li>
                    <p>2. Submit a booking request form.</p>
                </li>
                <li>
                    <p>3. Check back in 2-3 days for approval.</p>
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- Booking form -->
<div class=" col-md-8 mt-3 offset-md-2 form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="SUBMIT" class="submit-btn">
    </form>
</div>

<!-- Contact Info -->
<section class="container col-lg-8 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>For additional information contact us today.</h1>
            <br>
            <br>
            <h2><i class="fa-solid fa-phone-flip"></i> +64345098767 &ensp; <i class="fa-solid fa-envelope"></i>
                Reception@stgeorge.com</h2>
        </div>
    </div>
</section>
{% endblock %}