{% extends "base.html" %}

{% block title %}Amend Booking{% endblock %}

{% block content %}
{% load crispy_forms_tags %}


<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image-booking container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <!-- Django message container -->
                        <div class="container message">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg"
                                        role="alert">
                                        {{ message | safe }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h3>Book Online</h3>
                        <h1>A place to stay.</h1>
                        <h1>Just a few steps away ...</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<section class="container col-lg-8 mb-11 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Book Now</h4>
            <h1>Reservations at St. George Resort</h1>
        </div>
    </div>
</section>


<!-- Booking form -->
<div class=" col-md-8 mt-3 offset-md-2 form-group">
    {% for booking in user.booking_set.all %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="UPDATE" class="submit-btn">
    </form>
    {% endfor %}
</div>

<!-- Contact Info -->
<section class="container col-lg-8 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>For additional information contact us today.</h1>
            <br>
            <br>
            <h2><i class="fa-solid fa-phone-flip"></i> +64345098767 &ensp; <i class="fa-solid fa-envelope"></i>
                Reception@stgeorge.com</h2>
        </div>
    </div>
</section>
{% endblock %}