{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <h1>Experience a new level of luxury</h1>
                        <h2>Where the finer things in life come together in one,</h2>
                        <h2>seamless, unforgettable experience.</h2>
                        <br>
                        <a class="book-your-trip-btn" href="{% url 'book' %}">Book Your Trip</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<section class="container col-lg-8 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Accomodation</h4>
            <h1>A place to stay. A place to dream.</h1>
        </div>
    </div>
</section>
<section class="room-carousel">
    <div id="room-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666389699/St%20George%20Resort/photo-1600210491305-7396500b5b31_cif7qj.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666389792/St%20George%20Resort/photo-1600488999129-e49662f4020c_notd6l.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666389844/St%20George%20Resort/photo-1512918728675-ed5a9ecdebfd_cg0zt6.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666389962/St%20George%20Resort/photo-1631048500344-8d01227385b3_wmjuwt.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>



{% endblock %}