{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Page Header -->
<header class="masthead">
    <div class="hero-image container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <h1>Experience a new level of luxury</h1>
                        <h2>Where the finer things in life come together in one,</h2>
                        <h2>seamless, unforgettable experience.</h2>
                        <button class="book-your-trip">Book Your Trip</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</header>



{% endblock %}