{% extends "base.html" %}

{% block title %}St. George Resort{% endblock %}

{% load static %}

{% block content %}

<!-- Page Header - containing hero image and caption about the page -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <!-- Django message container -->
                        <div class="container message">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg"
                                        role="alert">
                                        {{ message | safe }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <h2>Experience a new level of luxury</h2>
                        <h3>Where the finer things in life come together in one,</h3>
                        <h3>seamless, unforgettable experience.</h3>
                        <br>
                        <a class="book-your-trip-btn" href="{% url 'book' %}">Book Your Trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container col-lg-8 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Accomodation</h4>
            <h2>A place to stay. A place to dream.</h2>
        </div>
    </div>
</section>
<!-- Room type carousel showing the four different room options, with links to more room details and booking page.-->
<section class="room-carousel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card mb-3 mx-auto" style="max-width: 70%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540065/St%20George%20Resort/poolview_mhpvui.png"
                                    class="img-fluid rounded-start" alt="Pool View room">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h2 class="card-title">Poolside<br>View</h2>
                                    <p class="card-text">Open your door directly on to this poolside paradise!</p>
                                    <div class="card-btns">
                                        <a href="{% url 'rooms' %}" class="more-details-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            View Details</a>
                                        <a href="{% url 'book' %}" class="book-room-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="card mb-3 mx-auto" style="max-width: 70%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540065/St%20George%20Resort/garden-view_oso2o6.png"
                                    class="img-fluid rounded-start" alt="Garden View Room">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h2 class="card-title">Garden<br>View</h2>
                                    <p class="card-text">Gaze on the gardens from your very own garden terrace.</p>
                                    <div class="card-btns">
                                        <a href="{% url 'rooms' %}" class="more-details-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            View Details</a>
                                        <a href="{% url 'book' %}" class="book-room-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card mb-3 mx-auto" style="max-width: 70%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540065/St%20George%20Resort/oceanview_f214td.png"
                                    class="img-fluid rounded-start" alt="Ocean View room">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h2 class="card-title">Ocean<br>View</h2>
                                    <p class="card-text">Air-conditioned room just a footstep from the ocean.</p>
                                    <div class="card-btns">
                                        <a href="{% url 'rooms' %}" class="more-details-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            View Details</a>
                                        <a href="{% url 'book' %}" class="book-room-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card mb-3 mx-auto" style="max-width: 70%;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666540087/St%20George%20Resort/superiorocean_avd5kd.png"
                                    class="img-fluid rounded-start" alt="Superior Ocean Suite">
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h2 class="card-title">Superior Ocean Suite</h2>
                                    <p class="card-text">Indulge yourself with more space and walk in closet.</p>
                                    <div class="card-btns">
                                        <a href="{% url 'rooms' %}" class="more-details-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            View Details</a>
                                        <a href="{% url 'book' %}" class="book-room-btn"><i
                                                class="fa-solid fa-arrow-right-long"></i>
                                            Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="grey-background">
    <div class="container col-lg-8 col-md-10 section-title-one">
        <div class="row justify-content-center">
            <div class="col-12">
                <h4>Experiences</h4>
                <h2>A place for fun. A place to experience.</h2>
            </div>
        </div>
    </div>
</section>

<!-- Experience cards showing different activities the hotel has to offer. -->
<section class="experiences grey-background">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3 mx-auto" style="max-width: 80%;">
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666554632/St%20George%20Resort/breakfast_aaixd9.png"
                    class="card-img-top" alt="Healthy Breakfast">
                <div class="card-body">
                    <h4 class="card-title">Healthy Breakfast</h4>
                    <p class="card-text">Enjoy a healthy, nutritious breakfast.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666554651/St%20George%20Resort/happyhour_zuufwr.png"
                    class="card-img-top" alt="Happy Hour">
                <div class="card-body">
                    <h4 class="card-title">Happy Hour</h4>
                    <p class="card-text">Everyday, enjoy the Happy Hour.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666554652/St%20George%20Resort/lunch_eu7e5g.png"
                    class="card-img-top" alt="Garden Terrace Lunch">
                <div class="card-body">
                    <h4 class="card-title">Garden Terrace Lunch</h4>
                    <p class="card-text">Enjoy a meal with ocean views. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666554632/St%20George%20Resort/boattours_jfdtij.png"
                    class="card-img-top" alt="Ocean Cruise">
                <div class="card-body">
                    <h4 class="card-title">Ocean Cruise</h4>
                    <p class="card-text">Meet Hawaii in a luxurious moving experience.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666554652/St%20George%20Resort/hiking_hcwgde.png"
                    class="card-img-top" alt="Mountain Trek">
                <div class="card-body">
                    <h4 class="card-title">Mountain Trek</h4>
                    <p class="card-text">Start the day with magnificent views.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="https://res.cloudinary.com/ejdiamo/image/upload/v1666554659/St%20George%20Resort/surf_znamki.png"
                    class="card-img-top" alt="Beach Activites">
                <div class="card-body">
                    <h4 class="card-title">Beach Activites</h4>
                    <p class="card-text">Surf the best tides the island has to offer.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hotel Contact Info -->
<section class="container col-lg-8 col-md-10 section-title">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2>For bookings and information contact us today.</h2>
            <br>
            <br>
            <h3><i class="fa-solid fa-phone-flip"></i> +64345098767 &ensp; <i class="fa-solid fa-envelope"></i>
                Reception@stgeorge.com</h3>
        </div>
    </div>
</section>

{% endblock %}