{% extends "base.html" %}

{% block title %}My Bookings{% endblock %}

{% block content %}

<!-- Page Header -->
<header class="masthead" onload="opacity='1'">
    <div class="hero-image-customer container-fluid">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="page-heading">
                        <h1>Get in touch with us ...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<section class="my-bookings">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Room</th>
                    <th scope="col">Adults</th>
                    <th scope="col">Children</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check Out</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <!-- Shows only bookings made by logged in user -->
            {% for booking in user.booking_set.all %}
            <tr>
                <td scope="row">{{ booking.full_name }}</td>
                <td scope="row">{{ booking.get_room_display }}</td>
                <td>{{ booking.num_adults }}</td>
                <td>{{ booking.num_children }}</td>
                <td>{{ booking.check_in }}</td>
                <td>{{ booking.check_out }}</td>
                <td>{{ booking.get_status_display }}</td>
                <td>
                    <a href="/edit/{{ booking.id}}">
                        <button class="submit-btn">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ booking.id}}">
                        <button class="submit-btn">Cancel Booking</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>You still need to book a holiday!</td>
            </tr>
            {% endfor%}
        </table>
    </div>
</section>
{% endblock %}